@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800&family=Ubuntu:wght@400;500;700&display=swap");

/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

#nav_menu {
  position: absolute;
  top: 18%;
  left: 15%;
  width: 270px;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 1.2rem 0;
}

#arrow:nth-child(2) {
  display: none;
}

.active {
  display: flex;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
}

.nav-dropdown__items {
  background: #eee;
  padding: 1.3rem 4rem;
  border-radius: 10px;
  flex-direction: column;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: hsl(208, 49%, 24%);
    padding: 0.5rem 0;
  }
}

.nav-dropdown__btn {
  margin-bottom: 1rem;
}

.rotated {
  .mobileNavArrow {
    transform: rotate(180deg);
  }
}

.whitespace {
  width: 90%;
  height: 1px;
  background: #999;
  margin: 1rem 0 1rem 0;
}

.registration {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    font-weight: bold;
  }

  .login {
    color: hsl(208, 49%, 24%);
    padding: 1rem 0 1rem 0;
  }

  .sign-up {
    margin-bottom: 0.5rem;
    border-radius: 60px;
    padding: 0.8rem 1.8rem;
    background: linear-gradient(to right, #ff8f70 20%, #ff3d54 80%);
    color: #fff;
  }
}

.main-container {
  background: url("../images/bg-pattern-intro.svg") no-repeat center/cover,
    -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ff8f70), to(#ff3d54));
  background-size: 200%;
  background-position: 16% 50%;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  padding: 5rem 2rem 7rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.nav-container {
  max-width: 375px;
  width: 100%;
}

.nav-hero__h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 7rem;
}

.nav-hero__p {
  color: #fff;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}

.buttons-cta {
  display: flex;
  justify-content: space-around;
}

.hero-btn {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 800;
  border: 1px solid #fff;
  text-decoration: none;
  margin: 0.6rem;
  width: 120px;
  padding: 0.8rem 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.start-btn {
  background-color: #fff;
  color: hsl(356, 100%, 66%);
}

.design-img-mobile {
  margin: 3rem 0;
}

h1 {
  color: hsl(208, 49%, 24%);
  font-size: 1.7rem;
}
.info-container__main-h1 
   {
    text-align: center;
    padding: 0 1.8rem 0rem 1.8rem;
    margin-bottom: 0.6rem;
  }


.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    padding: 0 1.8rem 0rem 1.8rem;
    margin-bottom: 0.6rem;
  }
  p {
    text-align: center;
    padding: 0 1.8rem;
    font-size: 1.1rem;
    line-height: 2rem;
    color: hsl(207, 13%, 34%);
  }
  .info-marg {
    margin-top: 1rem;
  }
  .laptop-img {
    margin: 3rem 0;
  }
}
.info-container__main {
  margin-bottom: 15rem;
  display: block;
}

.content-container {
  background: url("../images/bg-pattern-circles.svg") no-repeat
    hsl(237, 17%, 21%);
  background-size: cover;
  background-position: 50% -270px;
  border-radius: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    margin-top: -11rem;
    max-width: 350px;
  }
  h1 {
    padding: 0 1rem;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: normal;
  }
  p {
    text-align: center;
    padding: 1.7rem 1.8rem 5rem 1.8rem;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #fff;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 6rem;
  background: hsl(240, 10%, 16%);
  border-radius: 0 70px 0 0;

  img {
    max-width: 100px;
  }
  h3 {
    color: #fff;
  }
  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      a {
        text-decoration: none;
        color: hsl(240, 2%, 79%);
        line-height: 1.7rem;
      }
    }
  }
}

.desktop {
  display: none;
}

@media screen and (min-width: 1001px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .main-container {
    padding: 1rem 1rem 12rem 1rem;
  }
  .nav-container {
    max-width: 1440px;
  }

  nav {
    padding: 0 5rem 0 8rem;
  }
  #nav_menu {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 1200px;
    background: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 1.2rem 2rem;
  }

  .menu_spacer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav-dropdown {
    color: #fff;
  }
  .nav-dropdown__btn {
    margin: 0;
    margin-left: 2rem;
  }

  #arrow {
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      display: inline;
    }
  }

  .whitespace {
    display: none;
  }

  .nav-dropdown__items {
    background: #fff;
    position: absolute;
    top: 70%;
    padding: 1.3rem 2rem;
    flex-direction: column;
    margin: 0;
    text-align: left;
    width: 100px;
    a {
      &:hover {
        font-weight: bold;
      }
    }
  }

  .registration {
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    .login {
      color: #fff;
    }
    .sign-up {
      border: 1px solid #fff;
      background: transparent;
      &:hover {
        background: hsl(355, 100%, 74%);
        border: 1px solid hsl(355, 100%, 74%);
      }
    }
  }

  #mobile-hamburger {
    display: none;
  }

  .nav-hero__h1 {
    font-size: 5rem;
  }

  .buttons-cta {
    justify-content: center;
    .start-btn {
      &:hover {
        background: hsl(355, 100%, 74%);
        border: 1px solid hsl(355, 100%, 74%);
        color: #fff;
      }
    }
    .learn-btn {
      &:hover {
        border: 1px solid #fff;
        background: #fff;
        color: hsl(355, 100%, 74%);
      }
    }
  }
  .info-container__main {
    text-align: center;
    padding: 3rem 0 0 4rem;
    .info-container__main-h1 {
      margin-bottom: -2rem;
      font-size: 3rem;
    }
    .info-container {
      display: flex;
      flex-direction: row;
      .laptop-img_desktop {
        margin-left: -21em;
      }
    }
    .info-container_text {
      display: flex;
      flex-direction: column;
      text-align: left;
      h1 {
        text-align: left;
      }
      p {
        text-align: left;
        font-size: 1rem;
        padding-right: 5rem;
      }
    }
    .editor-img_desktop {
      margin-right: -15em;
    }
  }

  .content-container {
    flex-direction: row;
    background-position: -220px 79%;
    background-size: 70%;
    img {
      position: absolute;
      left: 5%;
      margin-top: 0;
      max-width: none;
    }
    .content-container_text {
      padding-left: 45%;
      padding-right: 10%;
      padding: 5% 10% 5% 45%;
      h1 {
        text-align: left;
        padding: 0;
      }
      p {
        text-align: left;
        padding: 0;
        font-weight: normal;
      }
    }
  }
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .footer-menu {
      ul {
        text-align: left;
      }
    }
  }
}
